<h1>Authors</h1>

<% authors.forEach(function(author) { %>
  <div class="well">
    <h2>
      <a href="/authors/<%= author.id %>">
        <%= author.getFullName() %>
      </a>
    </h2>
  </div>
<% }) %>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">Sign up to write for us!
</button>
<hr />
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="staticBackdropLabel">Write for BlogPulse!</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/authors" method="POST">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" required>
          </div>
        
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" required>
          </div>
        
          <div class="form-group">
            <label for="bio">Bio</label>
            <textarea type="text" class="form-control" id="bio" name="bio" required></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <input type="submit" class="btn btn-primary">
        </div>
      </form>        
    </div>
  </div>
</div>

<a href="/">&larr; Back Home</a>
